body {
  height: 100%;
}

#root {
  height: 100%;
}

main {
  height: 100%;
}

nav {
  display: flex;
}

.container {
  padding: 25px;
}

.form-item {
  width: calc(100% - 19px);
  height: 35px;
  background-color: rgb(80, 80, 80);
  padding-left: 15px;
  margin: 10px 10px 10px 0px;
  border: thin solid rgba(196, 196, 196, 0.776);
  border-radius: 5px;
  color: lightgrey;
}

.form-item:focus {
  outline: rgba(196, 196, 196, 0.776) auto 2px;
}

.form-item::placeholder {
  color: darkgrey;
}

.button {
  margin-top: 5px;
  padding: 8px 15px;
  font-size: 18px;
  border: thin solid rgba(196, 196, 196, 0.776);
  border-radius: 5px;
  background-color: rgb(80, 80, 80);
  color: lightgrey;
}

.button:hover {
  cursor: pointer;
  background-color: grey;
}

.error {
  color: rgb(184, 0, 0);
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.auth-card {
  border: thin solid rgba(196, 196, 196, 0.776);
  border-radius: 5px;
  padding: 30px;
  background-color: rgb(48, 48, 48);
}

.justify-center-vertical {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.align-items-center-vertical {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.d-block {
  display: block;
}

.mt-1 {
  margin-top: 20px;
}

.max-width {
  width: 100%;
}

.max-height-no-nav {
  height: calc(100% - 102px);
}

.title {
  font-size: xxx-large;
  margin-bottom: 20px;
}

.user-display {
  width: 25%;
  border: 2px solid rgba(196, 196, 196, 0.776);
}

.room-display {
  width: 75%;
  border: 2px solid rgba(196, 196, 196, 0.776);
  border-left: none;
  box-shadow: 13px 21px 30px 2px rgba(0, 0, 0, 0.75);
  position: relative;
}

.rooms-nav {
  height: 100%;
  width: 25%;
  border: 2px solid rgba(196, 196, 196, 0.776);
  border-top: none;
  box-shadow: 13px 21px 30px 2px rgba(0, 0, 0, 0.75);
  position: relative;
}

.chat {
  height: 100%;
  width: 75%;
  background-color: #242424;
}

.flex {
  display: flex;
}

.no-padding {
  padding: none;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid rgba(196, 196, 196, 0.776);
  margin-left: 20px;
}
